= semantic_form_for @task do |form|
  %ol
    = form.input :title, :label => false
    %li{:id => 'submit_button_li'}
      %input.submit_button{:type => 'submit', :value => "Add Task", :id => 'task_submit'}/
