%tr{'data-id' => task.id}
  %td{:class => 'task_title'}=task.title
  %td{:class => 'actions_area'}
    .actions_label Actions
    .actions
      =link_to 'Complete', '#'
      =link_to 'Day', '#'
      =link_to 'Week', '#'