%tr{'data-id' => task.id}
  %td
    =task.title
  %td{:class => 'amenu-container'}
    %ul{:class => 'amenu-list'}
      %li
        %a{:href => '#'} Actions
        %ul
          %li
            %a{:href => '#'} Complete
          %li
            %a{:href => '#'} One Week
