%tr{'data-id' => task.id, 'data-update_path' => update_status_task_path(task), :class => 'task_row'}
  %td{:class => 'task_title'}=task.title
  %td{:class => 'actions_area'}
    .actions_label Actions
    .actions
      .complete_link=link_to 'Complete', '#'
      .defer_day_link=link_to 'Day', '#'
      .defer_week_link=link_to 'Week', '#'
