%tr{'data-id' => task.id}
  %td{:class => 'task_title'}=task.title
  %td{:class => 'actions_area'}
    .actions_label Actions
    .actions
      =link_to 'Complete', '#', :onclick => %{updateStatus("#{update_status_task_path(task)}", #{task.id}, 0)}
      =link_to 'Day', '#'
      =link_to 'Week', '#'