%h1 Tasks

%table#tasks
  %tr
    %th Task
  -@tasks.each do |t|
    %tr{:class => cycle('even','odd'), 'data-id' => t.id}
      %td=t.content

- content_for :js do
  setupTasksDragDrop("#{reorder_tasks_path}");
