%h1 Tasks

=render 'form'

%table#tasks
  %thead
    %tr
      %th Task
  %tbody
    -@tasks.each do |t|
      %tr{'data-id' => t.id}
        %td=t.title

- content_for :js do
  setupTasksIndex("#{reorder_tasks_path}", "#{tasks_path}");


