=render 'form'

%table#tasks
  %thead
    %tr
      %th{:colspan => '2'} Task
  %tbody
    =render @tasks
    %tr{:class => 'task_template task_row', 'data-id' => '', 'data-update_path' => ''}
      %td{:class => 'task_title just_added'}
      %td{:class => 'actions_area'}
        .actions_label Actions
        .actions
          .complete_link=link_to 'Complete', '#'
          =link_to 'Day', '#'
          =link_to 'Week', '#'

- content_for :js do
  setupTasksIndex("#{reorder_tasks_path}", "#{tasks_path}");
