%h1 Tasks

%table#tasks
  %tr
    %th Ranking
    %th Task
  -@tasks.each do |t|
    %tr{:class => cycle('even','odd'), 'data-id' => t.id, 'data-rank' => t.rank}
      %td=t.rank
      %td=t.content

- content_for :js do
  setupTasksDragDrop("#{update_rank_tasks_path}");
