#info
  %p Hello. This is just a simple TODO app made for demonstration purposes. Try adding some tasks and reordering them by clicking and dragging. Then refresh to see that the order is saved for you.
  %p{:style => 'margin-bottom: 0px'}
    For more information, see
    =link_to 'the Github page.', 'https://github.com/kirkland/MaybeLater'

=render 'form'

%table#tasks
  %thead
    %tr
      %th{:colspan => '2'} Task
  %tbody
    =render @tasks
    %tr{:class => 'task_template task_row', 'data-id' => '', 'data-update_path' => ''}
      %td{:class => 'task_title just_added'}
      %td{:class => 'actions_area'}
        .actions_label Actions
        .actions
          .complete_link=link_to 'Complete', '#'
          .defer_day_link=link_to 'Day', '#'
          .defer_week_link=link_to 'Week', '#'

- content_for :js do
  new TasksIndex("#{reorder_tasks_path}", "#{tasks_path}");
