/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../.gem/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../.gem/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../.gem/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../.gem/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../.gem/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../.gem/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../.gem/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../.gem/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 8, ../../app/stylesheets/screen.scss */
body {
  background-color: #ecde6a;
}

/* line 11, ../../app/stylesheets/screen.scss */
#logo {
  width: 960px;
  font-size: 40px;
  background-color: #908214;
  line-height: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 22, ../../app/stylesheets/screen.scss */
h1 {
  padding: 0px;
  margin: 0;
}

/* line 26, ../../app/stylesheets/screen.scss */
#main {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  background-color: white;
}

/* line 33, ../../app/stylesheets/screen.scss */
.inline {
  display: inline;
}

/* line 36, ../../app/stylesheets/screen.scss */
#flash-notice, #flash-error {
  width: 100%;
  min-height: 50px;
  border: 1px black dashed;
  margin-bottom: 20px;
}
/* line 41, ../../app/stylesheets/screen.scss */
#flash-notice ul, #flash-error ul {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 45, ../../app/stylesheets/screen.scss */
#flash-notice {
  background-color: #e0f8f7;
}

/* line 48, ../../app/stylesheets/screen.scss */
#flash-error {
  background-color: #fe2e2e;
}

/* line 51, ../../app/stylesheets/screen.scss */
#site_nav {
  text-align: center;
}
