td.amenu-container
  width: 40px
  padding: 0px
  height: 20px
  line-height: 20px
  ul.amenu-list
    width: 40px
    height: 20px
    list-style: none
    padding-left: 0px
    li
      margin: auto
      width: 80%
      line-height: 20px
      height: 25px      
      padding-top: 10px
    ul
      display: none
      list-style: none