@import blueprint
@import blueprint/reset
@import blueprint/colors
@import compass/css3/border-radius

+blueprint

$blueprint-grid-columns: 24
$blueprint-grid-width: 30px

html
  height: 100%

body
  +container
  height: 100%
  #logo
    +column(24)
  #site_nav
    display: none
  #main
    background-color: #181C21
    +column(24)
    height: 100%
  #content
    +column(20)
    margin: 40px 0px 40px 70px    
    background-color: white
    padding: 10px
    +border-radius(10px)
    
  font-size: 16px
  background-color: #39414A
  
input
  font-size: 20px

#tasks
  td, th
    height: 20px
    line-height: 20px
    border: 1px black solid
    &.just_added
      border: 1px black dashed
  .task_title
    width: 100%
  .actions_area
    +column(4)
    +last
    .actions
      display: none
    &:hover .actions
      display: block
    &:hover .actions_label
      display: none
  .task_template
    display: none

.formtastic
  ol
    padding-left: 0
    margin: 0    
    li
      list-style: none
  fieldset
    border: none
    padding: 0
    margin: 0
  .submit_button
    padding: 5px
    margin: 0.5em 0
    border-width: 1px

#new_task
  #task_title_input
    +column(17)
    #task_title
      width: 100%
  #submit_button_li
    +column(3)
    +last
    .submit_button
      width: 100%
  li
    float: left


