@import blueprint
@import blueprint/reset
@import blueprint/colors

+blueprint

$blueprint-grid-columns: 24
$blueprint-grid-width: 30px

body
  +container
  #logo
    +column(24)
  #site_nav
    +column(4)
  #content
    +column(20)
    margin-right: 0px


